
        
        h1 {
            color:red;
        }  
        
        body {
            background-color: rgb(97, 250, 255);
        }
            
#nav-table{width: 800px; }
#nav-th {width: 266px; text-align:center;}

#body1 {
  background-image: url("mybackground.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;}
