
        
        h1 {
            color:red;
        }  
        
       
      
            background-color: rgb(97, 250, 255);
        }
            
#nav-table {width: 1000px; }
#nav-th {width: 266px; text-align:center;}


